@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
	color:white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
}

a,
a:focus {
    text-decoration: none!important;
    transition: all 0.3s;
}

a:hover{
background-color: grey;
border-radius: 5px;
 transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.labelcheck
{
padding-left:5px;
padding-right:5px;
}

.nav-item{
width:170px;
}
.dropdown-menu{
background-color:#051c33!important; 
}

#fnuevasolicitud
{
width:1500px;
}
.container
{
max-width: 1543px!important;
}

#descargalistado{
color: black!important
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #585862;
    color: white;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
}

a[data-toggle="collapse"] {
    position: relative;
}

a {
color:white!important;
}
a:hover {
color:black!important;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#buscar_centros{
padding-left: 20px;
border-radius: 5px;
margin: 11px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {

/*
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
*/
width: 90%;
padding: 20px;
    padding-left: 107px;
min-height: 100vh;
transition: all 0.3s;
top: 0;
right: 50%;
padding-left: 10%;
}

#content.active {
    width: 100%;
}

.mov {
   display: none;
    }

#tablasolicitud
{
max-width:100%;
}
.formsolicitud
{
color:black;
}
.theadmat{

color:white;
}
.table-dark
{
background-color:#114880!important;
}
table-dark td, .table-dark th, .table-dark thead th {
    border-color: #ebf1f6!important;
}

thead{
background-color: black;
}
.bform 
{
    background-color: #505a65 !important;
    width: 100%;
    display:block;margin:10px;
text-align: left!important;
padding-left: 24px;
}
.bform span{
width:50%;
margin-left:10px;
}

.easy-autocomplete{ width:100%!important}

#fnalumno{
}

.right{
    float:right;
       }
#personales{
-moz-transition: -moz-transform 0.5s ease-in-out;
-o-transition: -o-transform 0.5s ease-in-out;
-webkit-transition: -webkit-transform 0.5s ease-in-out;
transition: transform 0.5s ease-in-out;
}
#navgir{
background-color:#051c33 !important
}

.msuperior{
border-right: 1px solid #e4dcdc;
    /* background-color: lightgrey; */
    padding-left: 10px;
    padding-right: 10px;
}
.dalumno
{
padding-left:12%;
cursor: pointer;
}
.dalumnofirst
{
padding-left:2%;
cursor: pointer;
}

.crojo
{
	background: red!important;
}

.cverde
{
	background: green!important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
.mov {
   display: flow-root;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .desk {
        display: none;
    }
}
